@import "~tailwindcss/base";
img, svg, video, canvas, audio, iframe, embed, object {
  display: inline-block;
  vertical-align: initial;
}
:focus {
  outline: none;
}
button:focus {
  outline: none;
}
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import '~antd/dist/antd.css';
